{{ define "taxonomy_chips" }}
{{ with index .Page.Taxonomies "tags" }}
<div class="meta-panel-block">
    <h3>Tags</h3>
    <div class="tag-row">
        {{ range . }}
        <a class="tag" href="/tags/{{ . }}/">{{ . }}</a>
        {{ end }}
    </div>
</div>
{{ end }}

{{ with index .Page.Taxonomies "categories" }}
<div class="meta-panel-block">
    <h3>Categories</h3>
    <div class="tag-row">
        {{ range . }}
        <a class="tag" href="/categories/{{ . }}/">{{ . }}</a>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}