{{ define "content" }}
<section class="aq-masthead aq-grid aq-grid-desktop-12 aq-grid-tablet-8 aq-grid-mobile-4">
  <div class="aq-col aq-col-6 aq-col-t-5 aq-col-m-4">
    <span class="aq-eyebrow">404</span>
    <h1 class="aq-display-lg">This route fell off the graph.</h1>
    <p class="aq-lede">
      The page you were looking for could not be found. Use search or return to the homepage to continue.
    </p>
    <div class="aq-action-row">
      <a class="aq-button aq-button-primary" href="/">Go home</a>
      <button class="aq-button aq-button-secondary" type="button" data-aq-search-open>Search</button>
    </div>
  </div>
</section>
{{ end }}
